<div class="card img-compressor">
  <div class="col-md-12">
    <h4>Compressor</h4>
    <div class="row">

      <div class="col-md-5 img-compressor__left">
        <p>
          This app supports to process multiple images.
          <br>
          If you want to process a single image, here are tools you might want to use
        </p>
        <p>
          <a href="https://compressor.io/compress" target="_blank">https://compressor.io/compress</a>
          <br>
          <a href="http://www.imageoptimizer.net" target="_blank">http://www.imageoptimizer.net</a>
          <br>
          <a href="https://imagecompressor.com" target="_blank">https://imagecompressor.com</a>
        </p>
      </div>

      <form class="col-md-7 img-compressor__right">
        <h5>Zip your files, then upload & process</h5>

        <p>
          <input type="file" name="file"/>
        </p>

        <button type="button" class="btn btn-primary" disabled>Processing...</button>

      </form>
    </div>
  </div>
</div>
